@font-face {
    font-family: Patsy Sans, Arial, Helvetica, sans-serif ;
    src: url(Patsy Sans.otf);
}

body{
    background: #111;
    font-family: Patsy Sans;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.background{
    background: #222;
    max-width: 600px;
    padding: 50px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.background img{
    width: 190;
    padding-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.enter input{
    height: 60px;
    width: 500px;
    max-width: 500px;
    padding: 20px;
    border: none;
    border-radius: 10px;
    background-color: #444;
    color: #fff;
    font-size: 20px;
}

::placeholder{
    font-family: Patsy Sans;
}

.text{
    margin-bottom: 20px;
}

.password{
    margin-bottom: 30px;
}

.button{
    width: 500px;
    max-width: 500px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.button div{
    border-radius: 10px;
}

.login{
    background: #FFA500;
    height: 60px;
    width: 225px;
    max-width: 225px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.registration{
    background: #111;
    color: #fff;
    height: 60px;
    width: 225px;
    max-width: 225px;
    display: flex;
    align-items: center;
    justify-content: center;
}
