body {
  background-color: #fff;
  
  color: #32435f;
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  
  margin: 0px;
  padding: 15px;
}



/*----------head----------*/
h1, h2, h3, h4, h5, h6 {
  margin: 0 auto;
  padding: 40 auto;
}

a {
  text-decoration: none;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}



/*----------container----------*/
.container {
  width: 100%;
  max-width: 1180px;
  padding: 0;
  margin: 0 auto;
}



/*----------header----------*/
.header {
  background-color: #F1E4DC;
  
  padding-left: 10%;
  padding-right: 10%;
  
  border-radius:10px;
  
  height: 350px;
  
  margin-bottom: 20px;
}



/*----------intro----------*/
.intro {
  /*ntroground-color: #ffaa92; view*/
  
  display: flex;
  justify-content: space-between;
  
  align-items: center;
  height: 60px;
}



/*----------logo__text----------*/
.logo__text {
  font-size: 25px;
  color: #cf3944;
}



/*----------head----------*/
.head {
  display: flex;
  justify-content: space-between;
  
  height: 300px;
}



/*----------head__text----------*/
.head__text {
  /*background-color: #fcff9e; view*/
  display: flex;
  
  align-items: center;
  width: 50%;
  
  margin-left: 20px;
}



/*---------head__logo-----------*/
.head__logo {
  font-size: 15px;
}



/*----------head__img----------*/
.head__img {
  /*background-color: #ff9e9e; view*/
  position: relative;
  
  width: 50%;
}

.photo__head {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  
  width: 100%;
  max-width: 200px;
  height: auto;
}



/*----------navigation----------*/
.navigation {
  /*background-color: #db9eff; view*/
  margin-bottom: 50px;
}



/*----------logo__nav----------*/
.logo__nav {
  text-align: center;
}



/*----------link----------*/
.link {
  text-align: center;
  margin-top: 25px;
}



/*-----------link__text----------*/
.link__text {
  color: #32435f;
  font-size: 20px;
  font-weight: 700;
  
  margin-left: 10px;
  
  transition: border-bottom 0.2s linear;
}

.link__text:hover {
  border-bottom: 4px solid #32435f;
}



/*---------body-----------*/
.body {
  /*background-color: #9ee9ff; view*/
  
  height: auto;
}



/*----------section----------*/
.section {
}



/*----------section__box----------*/
.section__box {
  display: flex;
  
  margin-top: 35px;
  margin-bottom: 35px;
  
  transition: background-color 0.2s linear;
}

.section__box:hover {
  background-color: #F1E4DC;
}


/*----------section__img----------*/
.section__img {
}



/*----------sheet----------*/
.sheet {
  width: 100px;
  max-width: 200px;
  height: auto;
}



/*----------section__text----------*/
.section__text {
  margin-top: auto;
  margin-bottom: auto;
}

.section__title {
  color: #32435f;
}



/*----------footer----------*/
.footer {
  margin-top: 50px;
}


/*---------footer__go-----------*/
.footer__go {
  font-size: 15px;
  
  text-align: center;
}



/*----------logo__footer----------*/
.logo__footer {
  font-size: 25px;
  
  text-align: center;
}



/*----------footer__body----------*/
.footer__body {
  text-align: center;
  
  margin-top: 20px;
}



/*----------footer__link----------*/
.footer__link {
  color: #32435f;
  font-size: 15px;
  font-weight: 600;
  
  margin-left: 5px;
  margin-right: 5px;
  
  transition: border-bottom 0.2s linear;
}

.footer__link:hover {
  border-bottom: 4px solid #32435f;
}






